.container__index {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container__create {
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 40px 0;
    text-align: center;
    font-size: 30px;
    color: black;
    transition: 0.2s linear;
    margin: 10px 10px; 
}

.container__create:hover {
    background-color: darkslategrey;
    color: white;
}

.n-r-block {
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 40px 0;
    text-align: center;
    font-size: 30px;
    color: black;
    transition: 0.2s linear;
    margin: 10px 10px; 
}

.n-r-block:hover {
    background-color: rgb(189, 39, 39);
    color: white;
}
