body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Index */
.container__index {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;

    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__create {
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 40px 0;
    text-align: center;
    font-size: 30px;
    color: black;
    transition: 0.2s linear;
}

.container__create:hover {
    background-color: darkslategrey;
    color: white;
}

/* Header */
.container__header {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
    background-color: darkslategrey;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    color: white;
    font-size: 24px;
    padding: 15px 10px;
    transition: 0.2s linear;
}

.nav__item:hover {
    background-color: white;
    color: black;
}

/* Form */
.container__form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    max-width: 700px;
    width: 100%;
    margin: 0 auto; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    width: 50%;
    border: none;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.form textarea {
    margin: 10px 0;
    width: 50%;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: none;
    resize: none;
}

.form button {
    cursor: pointer;
    width: 30%;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    margin-top: 20px;
    transition: 0.2s linear;
}

.form button:hover {
    background-color: darkslategrey;
    color: white;
}

.container__title, .container__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

/* Tickets */
.container__tickets {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ticket__items {
    display: flex;
    flex-wrap: wrap;
}

.ticket-info {
    width: 200px;
    padding: 10px 15px;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    position: relative;
}

.ticket__info-top {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.ticket-number {
    font-size: 14px;
}

.ticket-info div span, .ticket__info div span, .ticket-number {
    font-weight: bold;
    opacity: 0.6;
}

.ticket-item {
    margin-bottom: 5px;
}

.ticket-item:last-child {
    margin-bottom: 40px;
}

.container__link {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    color: black;
    transition: 0.2s linear;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
}

.container__tickets-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container__tickets-btn a {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 10px;
    color: black;
    transition: 0.2s linear;
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
    width: 30%;
    margin: 0 10px;
}

.container__link:hover, .tickets-back:hover {
    background-color: darkslategrey;
    color: white;
}

/* Ticket */
.container__ticket {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;

    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ticket__info {
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.ticket__number {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.ticket-back {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 10px;
    transition: 0.2s linear;
    padding: 5px 15px;
    display: block;
    text-align: center;
    color: black;
    margin-top: 15px;
}

.ticket-back:hover {
    background-color: darkslategrey;
    color: white;
}

/* Pagination */
.container__pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.pagination-page {
    background-color: darkslategrey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

.pagination-item-l {
    border-radius: 10px 0 0 10px;
}

.pagination-item-r {
    border-radius: 0 10px 10px 0;
}

.pagination-item {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: black;
    transition: 0.2s linear;
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
    width: 30%;
}

.pagination-item:hover {
    background-color: darkslategrey;
    color: white;
}

.container__total-page {
    background-color: darkslategrey;
    color: white;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
}
