.container__ticket {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;

    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ticket__info {
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.ticket__number {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.ticket-back {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 10px;
    transition: 0.2s linear;
    padding: 5px 15px;
    display: block;
    text-align: center;
    color: black;
    margin-top: 15px;
}

.ticket-back:hover {
    background-color: darkslategrey;
    color: white;
}