{{ define "create" }}

{{ template "header" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/create.css">
    <title>Create Page</title>
</head>
<body>
    <div class="container__form">
        <div class="container__title">Create #TICKET</div>
        <form action="/save_article" method="post" class="form">
            <input class="form-input" type="text" name="username" id="username" placeholder="Username">
            <input class="form-input" type="text" name="information" id="information" placeholder="Information">
            <input class="form-input" type="text" name="ticket" id="ticket" placeholder="Ticket">
            <button class="form__button">Post</button>
        </form>
    </div>
</body>
</html>

{{ end }}