{{ define "createTicket" }}

{{ template "header" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/createTicket.css">
    <title>Create Ticket</title>
</head>
<body>
    <div class="container__create__ticket">
        <a class="create__ticket" href="/show_form">+</a>
    </div>
</body>
</html>

{{ end }}