{{ define "show_tickets" }}

{{ template "header" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/showList.css">
    <title>Tickets</title>
</head>
<body>
    <div class="container__list">
        <div class="container__top">
            <div class="container__title container__top-item">Tickets: {{ .CountTickets }}</div>
            <div class="container__total-page">
                <div class="container__total">Total pages: {{ .TotalPage }}</div>
            </div>
        </div>
        <div class="list__items">
        {{ range .Tickets }}
            <div class="list-info">
                <div class="list__info-top">
                    <div class="ticket-item">
                        <span>Username: </span>{{ .Username }}
                    </div>
                    <div class="list-number">#{{ .Id }}</div>
                </div>
                <div class="list-item">
                    <span>Information: </span>{{ .Information }}</div>
                <div class="list-item">
                    <span>Ticket: </span>{{ .Ticket }}</div>
                <div class="list-item">
                    <a class="container__link" href="/ticket/{{ .Id }}">Ticket Info...</a>
                </div>
            </div>
        {{ else }}
            <div class="container__lead">No Tickets!</div>
        {{ end }}
        </div>
    </div>
</body>
</html>

{{ template "pagination" }}

{{ end }}
