{{ define "show_notes" }}

{{ template "header" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/showList.css">
    <title>Notes</title>
</head>
<body>
    <div class="container__list">
        <div class="container__top">
            <div class="container__title container__top-item">Notes: {{ .CountTickets }}</div>
            <div class="container__total-page">
                <div class="container__total">Total pages: {{ .TotalPage }}</div>
            </div>
        </div>
        <div class="list__items">
        {{ range .Notes }}
            <div class="list-info">
                <div class="list__info-top">
                    <div class="list-item">
                        <span>Title: </span>{{ .Title }}
                    </div>
                    <div class="list-number">#{{ .Id }}</div>
                </div>
                <div class="list-item">
                    <span>Description: </span>{{ .Description }}</div>
                <div class="list-item">
                    <a class="container__link" href="/note/{{ .Id }}">Notes Info...</a>
                </div>
            </div>
        {{ else }}
            <div class="container__lead">No Tickets!</div>
        {{ end }}
        </div>
    </div>
</body>
</html>

{{ template "pagination" }}

{{ end }}
