{{ define "showForm" }}

{{ template "header" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/showForm.css">
    <title>Form</title>
</head>
<body>
    <div class="container__create">
        <div class="create-info">
            <div class="create__item create-form">
                <div class="create__input create-style" id="create-input">Create Input</div>
                <div class="create__input create-style" id="create-btn">Create Button</div>
            </div>
            <div class="create__item form-info">None</div>
        </div>
    </div>
</body>
</html>

{{ end }}