{{ define "tickets" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Tickets</title>
</head>
<body>
    <div class="container__tickets">
        <div class="container__title">Tickets</div>
            <div class="ticket__items">
            {{ range . }}
            <div class="ticket-info">
                <div class="ticket__info-top">
                    <div class="ticket-item">
                        <span>Username: </span>{{ .Username }}
                    </div>
                    <div class="ticket-number">#{{ .Id }}</div>
                </div>
                <div class="ticket-item">
                    <span>Information: </span>{{ .Information }}</div>
                <div class="ticket-item">
                    <span>Ticket: </span>{{ .Ticket }}</div>
                <a class="container__link" href="/ticket/{{ .Id }}">Ticket Info...</a>
            </div>
            {{ else }}
            <div class="container__lead">No Tickets!</div>
            {{ end }}
        </div>
        <a class="tickets-back" href="/">Back</a>
    </div>
</body>
</html>

{{ end }}